.header {
    justify-content: space-between;
    width: auto;
    height: 200px;
    display: flex;
}

a {
    float: left;
    font-size: 12px;
    font-family: 
}

#countdown {
    float: right;
    font-size: 25px;
}

.questionsDiv {
    justify-content: center;
    text-align: center;

}

h1 {
    font-size: 35px;
    text-decoration: underline;
}

p {
    font-size: 12px;
}

/*ul {*/

/*} */

button {
    border-radius: 4px;
    box-shadow: 5px, 5px, 5px, 5px;
}